USE [master]
GO
/****** Object:  Database [BASE_ERP]    Script Date: 05/07/2025 9:37:24 AM ******/
CREATE DATABASE [BASE_ERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pru', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pru.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pru_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pru_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BASE_ERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BASE_ERP]
GO
/****** Object:  Table [dbo].[BODEGA]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODEGA](
	[bodega_id] [int] IDENTITY(1,1) NOT NULL,
	[bodega_nombre] [varchar](200) NULL,
	[bodega_direccion] [varchar](200) NULL,
	[bodega_telefono] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
	[sucursal_id] [int] NULL,
 CONSTRAINT [_copy_3] PRIMARY KEY CLUSTERED 
(
	[bodega_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[categoria_id] [int] NOT NULL,
	[categoria_descrip] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[ciudad_id] [int] NOT NULL,
	[ciudad_nombre] [varchar](150) NULL,
	[estado] [int] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
	[pais_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ciudad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[cliente_id] [int] NOT NULL,
	[cliente_ruc] [varchar](13) NULL,
	[cliente_nombre1] [varchar](50) NULL,
	[cliente_nombre2] [varchar](50) NULL,
	[cliente_apellido1] [varchar](50) NULL,
	[cliente_apellido2] [varchar](50) NULL,
	[cliente_email] [varchar](200) NULL,
	[cliente_telefono] [varchar](100) NULL,
	[cliente_direccion] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [date] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA](
	[empresa_id] [int] NOT NULL,
	[empresa_ruc] [varchar](13) NULL,
	[empresa_nombre] [varchar](200) NULL,
	[empresa_razon] [varchar](200) NULL,
	[empresa_direccion_matriz] [varchar](200) NULL,
	[empresa_telefono_matriz] [varchar](100) NULL,
	[ciudad_id] [int] NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
 CONSTRAINT [_copy_5] PRIMARY KEY CLUSTERED 
(
	[empresa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMA_PAGO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMA_PAGO](
	[fpago_id] [int] NOT NULL,
	[fpago_descripcion] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[fpago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPUESTO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPUESTO](
	[impuesto_id] [smallint] NULL,
	[impuesto_descr] [varchar](50) NULL,
	[impuesto_valor] [decimal](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDUSTRIA]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDUSTRIA](
	[industria_id] [int] NOT NULL,
	[industria_descripcion] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[industria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[marca_id] [int] NOT NULL,
	[marca_descrip] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[marca_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO](
	[modulo_id] [int] NOT NULL,
	[modulo_descripcion] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[modulo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO_CAB]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO_CAB](
	[movicab_id] [int] NOT NULL,
	[tipomov_id] [int] NULL,
	[tipomov_ing_egr] [int] NULL,
	[empresa_id] [int] NULL,
	[sucursal_id] [int] NULL,
	[bodega_id] [int] NULL,
	[secuencia_factura] [varchar](15) NULL,
	[autorizacion_sri] [varchar](50) NULL,
	[clave_acceso] [varchar](50) NULL,
	[cliente_id] [int] NULL,
	[puntovta_id] [int] NULL,
	[proveedor_id] [int] NULL,
	[estado] [varchar](255) NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[movicab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO_DET_PAGOS]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO_DET_PAGOS](
	[movidet_pago_id] [int] NOT NULL,
	[movicab_id] [int] NULL,
	[fpago_id] [int] NULL,
	[valor_pagado] [decimal](10, 2) NULL,
	[industria_id] [int] NULL,
	[lote] [varchar](255) NULL,
	[voucher] [varchar](255) NULL,
	[tarjetacred_id] [int] NULL,
	[banco_id] [int] NULL,
	[comprobante_id] [int] NULL,
	[fecha_pago] [varchar](255) NULL,
	[cliente_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[movidet_pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO_DET_PRODUCTO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO_DET_PRODUCTO](
	[movidet_prod_id] [int] NOT NULL,
	[movicab_id] [int] NULL,
	[producto_id] [int] NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](10, 4) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[movidet_prod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPCION]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPCION](
	[opcion_id] [int] NOT NULL,
	[opcion_descripcion] [varchar](150) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
	[modulo_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[opcion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[pais_id] [int] NOT NULL,
	[pais_nombre] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pais_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[prod_id] [int] NOT NULL,
	[prod_descripcion] [varchar](200) NULL,
	[prod_ult_precio] [decimal](10, 2) NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
	[estado] [int] NULL,
	[categoria_id] [int] NULL,
	[empresa_id] [int] NULL,
	[proveedor_id] [int] NULL,
	[marca_id] [int] NULL,
 CONSTRAINT [_copy_2] PRIMARY KEY CLUSTERED 
(
	[prod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[prov_id] [int] NOT NULL,
	[prov_ruc] [varchar](13) NULL,
	[prov_nom_comercial] [varchar](200) NULL,
	[prov_razon] [varchar](200) NULL,
	[prov_direccion] [varchar](255) NULL,
	[prov_telefono] [int] NULL,
	[ciudad_id] [int] NULL,
	[estado] [varchar](255) NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[prov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUNTO_EMISION_SRI]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNTO_EMISION_SRI](
	[punto_emision_id] [int] NOT NULL,
	[punto_emision] [char](3) NULL,
	[empresa_id] [int] NULL,
	[sucursal_id] [int] NULL,
	[cod_establecimiento_sri] [varchar](255) NULL,
	[ult_secuencia] [int] NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[punto_emision_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUNTO_VENTA]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNTO_VENTA](
	[puntovta_id] [int] NOT NULL,
	[puntovta_nombre] [varchar](30) NULL,
	[punto_emision_id] [int] NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
	[sucursal_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[rol_id] [int] NOT NULL,
	[rol_descripcion] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[stock_id] [bigint] NOT NULL,
	[empresa_id] [int] NULL,
	[sucursal_id] [int] NULL,
	[bodega_id] [int] NULL,
	[prod_id] [int] NULL,
	[cantidad_stock] [int] NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[sucursal_id] [int] NOT NULL,
	[sucursal_ruc] [varchar](13) NULL,
	[sucursal_nombre] [varchar](200) NULL,
	[sucursal_direccion] [varchar](200) NULL,
	[sucursal_telefono] [varchar](100) NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_act] [int] NULL,
	[empresa_id] [int] NULL,
	[cod_establecimiento_sri] [char](3) NULL,
 CONSTRAINT [_copy_4] PRIMARY KEY CLUSTERED 
(
	[sucursal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARJETA_CREDITO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARJETA_CREDITO](
	[tarjetacred_id] [int] NOT NULL,
	[tarjetacred_descripcion] [varchar](150) NULL,
	[industria_id] [int] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tarjetacred_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_MOVIMIENTO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_MOVIMIENTO](
	[tipomov_id] [int] NOT NULL,
	[tipomov_descrip] [varchar](200) NULL,
	[tipomov_ing_egr] [smallint] NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tipomov_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[usu_id] [int] NOT NULL,
	[usu_nombre] [varchar](255) NULL,
	[empresa_id] [int] NULL,
	[estado] [int] NULL,
	[fecha_hora_reg] [varchar](255) NULL,
	[fecha_hora_act] [varchar](255) NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_PERMISO]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_PERMISO](
	[permiso_id] [int] NOT NULL,
	[modulo_id] [int] NULL,
	[opcion_id] [int] NULL,
	[usu_id] [int] NULL,
	[estado_permiso] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[permiso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO_ROL]    Script Date: 05/07/2025 9:37:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO_ROL](
	[usu_rol_id] [int] NOT NULL,
	[usu_id] [int] NULL,
	[rol_id] [int] NULL,
	[estado] [smallint] NULL,
	[fecha_hora_reg] [datetime] NULL,
	[fecha_hora_act] [datetime] NULL,
	[usu_id_reg] [int] NULL,
	[usu_id_act] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usu_rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BODEGA] ADD  CONSTRAINT [DF_BODEGA_fecha_hora_reg]  DEFAULT (getdate()) FOR [fecha_hora_reg]
GO
ALTER TABLE [dbo].[BODEGA]  WITH CHECK ADD  CONSTRAINT [fk_bodega_sucursal] FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[SUCURSAL] ([sucursal_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BODEGA] CHECK CONSTRAINT [fk_bodega_sucursal]
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD  CONSTRAINT [kf_ciudad_pais] FOREIGN KEY([pais_id])
REFERENCES [dbo].[PAIS] ([pais_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CIUDAD] CHECK CONSTRAINT [kf_ciudad_pais]
GO
ALTER TABLE [dbo].[EMPRESA]  WITH CHECK ADD  CONSTRAINT [fk_empresa_ciudad] FOREIGN KEY([ciudad_id])
REFERENCES [dbo].[CIUDAD] ([ciudad_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPRESA] CHECK CONSTRAINT [fk_empresa_ciudad]
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB]  WITH CHECK ADD  CONSTRAINT [fk_movim_cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[CLIENTE] ([cliente_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB] CHECK CONSTRAINT [fk_movim_cliente]
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB]  WITH CHECK ADD  CONSTRAINT [fk_movim_empresa] FOREIGN KEY([empresa_id])
REFERENCES [dbo].[EMPRESA] ([empresa_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB] CHECK CONSTRAINT [fk_movim_empresa]
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB]  WITH CHECK ADD  CONSTRAINT [fk_movim_proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[PROVEEDOR] ([prov_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB] CHECK CONSTRAINT [fk_movim_proveedor]
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB]  WITH CHECK ADD  CONSTRAINT [fk_movim_sucursal] FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[SUCURSAL] ([sucursal_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB] CHECK CONSTRAINT [fk_movim_sucursal]
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB]  WITH CHECK ADD  CONSTRAINT [fk_movim_tipo] FOREIGN KEY([tipomov_id])
REFERENCES [dbo].[TIPO_MOVIMIENTO] ([tipomov_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB] CHECK CONSTRAINT [fk_movim_tipo]
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB]  WITH CHECK ADD  CONSTRAINT [fk_movim_usu_reg] FOREIGN KEY([usu_id_reg])
REFERENCES [dbo].[USUARIO] ([usu_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_CAB] CHECK CONSTRAINT [fk_movim_usu_reg]
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PAGOS]  WITH CHECK ADD  CONSTRAINT [fk_movicab_detpagos] FOREIGN KEY([movicab_id])
REFERENCES [dbo].[MOVIMIENTO_CAB] ([movicab_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PAGOS] CHECK CONSTRAINT [fk_movicab_detpagos]
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PAGOS]  WITH CHECK ADD  CONSTRAINT [fk_movidet_fpago] FOREIGN KEY([fpago_id])
REFERENCES [dbo].[FORMA_PAGO] ([fpago_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PAGOS] CHECK CONSTRAINT [fk_movidet_fpago]
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PAGOS]  WITH CHECK ADD  CONSTRAINT [fk_movidet_tarjeta] FOREIGN KEY([tarjetacred_id])
REFERENCES [dbo].[TARJETA_CREDITO] ([tarjetacred_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PAGOS] CHECK CONSTRAINT [fk_movidet_tarjeta]
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [fk_movi_cab_detalle] FOREIGN KEY([movicab_id])
REFERENCES [dbo].[MOVIMIENTO_CAB] ([movicab_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PRODUCTO] CHECK CONSTRAINT [fk_movi_cab_detalle]
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [fk_movidet_prod] FOREIGN KEY([producto_id])
REFERENCES [dbo].[PRODUCTO] ([prod_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PRODUCTO] CHECK CONSTRAINT [fk_movidet_prod]
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_DET_PRODUCTO_MOVIMIENTO_CAB] FOREIGN KEY([movicab_id])
REFERENCES [dbo].[MOVIMIENTO_CAB] ([movicab_id])
GO
ALTER TABLE [dbo].[MOVIMIENTO_DET_PRODUCTO] CHECK CONSTRAINT [FK_MOVIMIENTO_DET_PRODUCTO_MOVIMIENTO_CAB]
GO
ALTER TABLE [dbo].[OPCION]  WITH CHECK ADD  CONSTRAINT [fk_opcion_modulo] FOREIGN KEY([modulo_id])
REFERENCES [dbo].[MODULO] ([modulo_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OPCION] CHECK CONSTRAINT [fk_opcion_modulo]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[CATEGORIA] ([categoria_id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_MARCA] FOREIGN KEY([marca_id])
REFERENCES [dbo].[MARCA] ([marca_id])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_MARCA]
GO
ALTER TABLE [dbo].[PUNTO_EMISION_SRI]  WITH CHECK ADD  CONSTRAINT [fk_puntoemi_empresa] FOREIGN KEY([empresa_id])
REFERENCES [dbo].[EMPRESA] ([empresa_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PUNTO_EMISION_SRI] CHECK CONSTRAINT [fk_puntoemi_empresa]
GO
ALTER TABLE [dbo].[PUNTO_EMISION_SRI]  WITH CHECK ADD  CONSTRAINT [fk_puntoemi_sucursal] FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[SUCURSAL] ([sucursal_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PUNTO_EMISION_SRI] CHECK CONSTRAINT [fk_puntoemi_sucursal]
GO
ALTER TABLE [dbo].[PUNTO_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_PUNTO_VENTA_PUNTO_EMISION_SRI] FOREIGN KEY([puntovta_id])
REFERENCES [dbo].[PUNTO_EMISION_SRI] ([punto_emision_id])
GO
ALTER TABLE [dbo].[PUNTO_VENTA] CHECK CONSTRAINT [FK_PUNTO_VENTA_PUNTO_EMISION_SRI]
GO
ALTER TABLE [dbo].[PUNTO_VENTA]  WITH CHECK ADD  CONSTRAINT [fk_puntovta_sucursal] FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[SUCURSAL] ([sucursal_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PUNTO_VENTA] CHECK CONSTRAINT [fk_puntovta_sucursal]
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD  CONSTRAINT [fk_stock_empresa] FOREIGN KEY([empresa_id])
REFERENCES [dbo].[EMPRESA] ([empresa_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STOCK] CHECK CONSTRAINT [fk_stock_empresa]
GO
ALTER TABLE [dbo].[TARJETA_CREDITO]  WITH CHECK ADD  CONSTRAINT [fk_tarjeta_indus] FOREIGN KEY([industria_id])
REFERENCES [dbo].[INDUSTRIA] ([industria_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TARJETA_CREDITO] CHECK CONSTRAINT [fk_tarjeta_indus]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [fk_usu_opcion_opcion] FOREIGN KEY([opcion_id])
REFERENCES [dbo].[OPCION] ([opcion_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [fk_usu_opcion_opcion]
GO
ALTER TABLE [dbo].[USUARIO_PERMISO]  WITH CHECK ADD  CONSTRAINT [fk_usu_opcion_usuario] FOREIGN KEY([usu_id])
REFERENCES [dbo].[USUARIO] ([usu_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_PERMISO] CHECK CONSTRAINT [fk_usu_opcion_usuario]
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [fk_usuario_rol_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[ROL] ([rol_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [fk_usuario_rol_rol]
GO
ALTER TABLE [dbo].[USUARIO_ROL]  WITH CHECK ADD  CONSTRAINT [fk_usuario_rol_usuario] FOREIGN KEY([usu_id])
REFERENCES [dbo].[USUARIO] ([usu_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USUARIO_ROL] CHECK CONSTRAINT [fk_usuario_rol_usuario]
GO
EXEC [BASE_ERP].sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=Habilitado, 2=Deshabilitado' 
GO
USE [master]
GO
